/* HEADER */
.header__nav {
   display: flex;
   justify-content: space-between;
}


.nav {
   padding-top: 1em;
   padding-bottom: 40px;
}

/* MAIN/SECTION:HERO */

.about__hero {
   display: flex;
   justify-content: space-between;
}

.block__name__hero {
   max-width: 124px;
   max-height: 118px;
   margin-bottom: 30px;
}

.block__about__hero {
   max-width: 156px;
   max-height: 44px;
   align-self: flex-end;
   /* padding-bottom: 50px; */
   margin-bottom: 50px;
}

/* MAIN/SECTION:ABOUT  */


.text {
   padding-bottom: 15px;
}

.text__size {
   max-width: 486px;
   max-height: 218px;
   text-align: center;
   margin: 0 auto;
}



/* MAIN/SECTION:SKILLS  */

.skills__text {
   text-align: center;
   padding-top: 92px;
}

.skills__padding {
   padding-bottom: 69px;
}

.p__padding {
   padding-bottom: 84px;
}

.skills {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-bottom: 112px;
}

.position__main {
   position: absolute;
}

.position__relaitive {
   position: relative;
   top: 100px;
   right: 20px;
}

.stars {
   position: relative;
   top: 125px;
   right: 10px;

}

/* MAIN/SECTIONS:PORTFOLIO */

.subtitle__portfolio {
   padding-bottom: 20px;
}

/* FOOTER */
.contatact__box {
   width: 280px;
}

.flex__all {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-top: 114px;
}

.contatact__box__padding {
   padding-bottom: 40px;
}

/* FOOTER/CONTACT */
.contact__me {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   padding-bottom: 92px;
}

.send__btn {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 166px;
   height: 38px;
   background: black;
   border-radius: 15px;
}

/* FOOTER/MESSENGERS */

.messengers {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-bottom: 46px;
}

.postscriptum {
   text-align: center;
   color: #828282;
   font-family: Gilroy-Medium;
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}